
    <link rel="stylesheet" href="productMain.css">
<div class="productMain">
    <div class="link-rail">
        <a href="#" class="l-r-tile"> категорії</a>
        <div class="l-r-tile tdn">/</div>
        <a href="#" class="l-r-tile"> сорт чая</a>
        <div class="l-r-tile tdn">/</div>
        <a href="#" class="l-r-tile">название чая</a>
    </div>
    <div class="main-name">
        Lorem ipsum dolor sit amet consectetur.
    </div>
    <div class="control-panel">
        <button class="tile-control">товар <div class="red-lin"></div></button>
        <button class="tile-control">відгуки <div class="red-lin"></div></button>
        <button class="tile-control">як готувати <div class="red-lin"></div></button>
        <button class="tile-control">в комплектах <div class="red-lin"></div></button>
        <button class="tile-control">аксесуари <div class="red-lin"></div></button>
        <div class="code-tile"> код : <div class="ccode">111111</div></div>
    </div>
    <div class="main-box">
        <div class="pic-box">
            <div class="main-pic">
                <img class="pic-pic" src="" alt="tea-pic">
            </div>
            
        </div>
        <div class="opt-box">
            <div class="main-opt">
                <div class="geo-poz">
                    <div class="sh"></div>
                    <div class="prodav">країна поставник чаю :</div>
                    <div class="geo-prod"> Конго 
                        <img  class="goe-pan" src="Без названия.png" alt="kongo-png"> 
                    </div>
                    
                </div>
                <div class="por-dec-box">
                    <div class="sh"></div>
                    <div class="por-tex">виберіть порцію :</div>
                    <div class="pb-box">
                    <button class="por-but">50гр</button>
                    <button class="por-but">75гр</button>
                    <button class="por-but">100гр</button>
                    <button class="por-but">125гр</button>
                    <button class="por-but">150гр</button>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    
