
    <link rel="stylesheet" href="productMain.css">
<div class="productMain">
    <div class="link-rail">
        <a href="#" class="l-r-tile"> сорт чая</a>
        <div class="l-r-tile tdn">/</div>
        <a href="#" class="l-r-tile">название чая</a>
    </div>
    <div class="main-name">
        Lorem ipsum dolor sit amet consectetur.
    </div>
    <div class="control-panel">
        <button class="tile-control">товар <div class="red-lin"></div></button>
        <button class="tile-control">відгуки <div class="red-lin"></div></button>
        <button class="tile-control">як готувати <div class="red-lin"></div></button>
        <button class="tile-control">в комплектах <div class="red-lin"></div></button>
        <button class="tile-control">аксесуари <div class="red-lin"></div></button>
        <div class="code-tile"> код : <div class="ccode">111111</div></div>
    </div>
</div>
    
