header{
    margin: 0px;
}
.link-rail{
    margin-left: 30px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}
.l-r-tile{
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-size: 15px;
    font-family: 'Gill Sans', sans-serif; 
}
.l-r-tile:hover{
    text-decoration: underline;
}
.tdn:hover{
    text-decoration: none;
}
.productMain{
    margin-left: 40px;
    margin-right: 40px;
}
/* --------------------------------------------------------------------------------------- */
.main-name{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-left: 30px;
    margin-bottom: 30px;
}
/* ----------------------------------------------------------------------------------------------- */
.control-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(253, 253, 253);
    padding-left: 30px;
    padding-right: 30px;
    
}
.red-lin{
    height: 1px;
    width: 0px;
    background-color: red;
}
.tile-control{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 20px;
    background-color: white;
   transition: 0.5s;
 display: flex;
 align-items: center;
 flex-direction: column;

}
.tile-control::after{
    height: 2px;
    content: '';
    width: 0px;
    transition: 0.2s;
    background-color: red;
    display: block;
    z-index: 2;
}
.tile-control:hover::after {
    content: '';
    width: 100%;
    background-color: red;
    display: block;
}
.tile-control:hover{
    color: red;
}
.code-tile{
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    align-items: center;
    
}
.ccode{
    background-color: rgb(233, 233, 233);
    margin-bottom: 6px;
    margin-top: 6px ;
}
button{
    border: 0px;
    cursor: pointer;
}
/* ------------------------------------------------------------------- */
.main-box{
    border-top: 2px solid rgb(233, 232, 232);
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    top: 147px;
   
    position: absolute;
}
.pic-box{
    margin-top: 10px;
    width: 40%;
    height: 650px;
    background-color: blue;
}
.pic-choose{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px; gap: 15px;
    background-color: aqua;
}
.pic-top{
    margin-left: 30px;
    width: 40px;
    height: 70px;
    background: none;
    /* background: #000;
    opacity: 50%;
    border-radius: 4px; */
    transform: rotate(270deg);
}
.pic-bot{

    margin-left: 30px;
    width: 40px;
    height: 70px;
    background: none;
    /* background: #000;
    opacity: 50%;
    border-radius: 4px; */
    transform: rotate(90deg);

}
.img-pic{
    width: 100px;
    background-color: black;
}