.card{
    width: 180px;
    height: 270px;
    background-color: rgb(245, 245, 245);
    font-size: 16px;
}
.piccd{
    height: 150px;
    width: 160px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: brown;
}
.dnk{
    z-index: 5;
}

.lik{
    position: absolute;
     
width: 21px;
background: none;
border:none;
 left: 131px;
    top: 4px;
    font-size: 22.5px;
  }
.lok{
    position: absolute;
   
    background: none;
    border: none;
   z-index: -2;
left: 130px;
    top: 10px;
}
.dbk{
    z-index: 5;
}
.textcd{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.prcdbuy{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.pecd{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}
.grcd{
    font-size: 15px;
    color: rgb(138, 138, 138);
}
.pricecd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brcd{
    border: none;
    background-color: red;
    border-radius: 5px;
    width: 70px;
  height: 37px;
    margin-left: 20px;
    color: white;
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.immaaage{
    width: 30px;
}