<link rel="stylesheet" href="card.css">
<div class="card">
    <div class="piccd">
        <img src="" alt="" class="imgcd">
        <button id="lik" class="lik" onclick="document.getElementById('lok').classList.toggle('dnk')">♡ </button>
        <button id="lok" class="lok" onclick="document.getElementById('lik').classList.toggle('dbk') ">❤️ </button>
    </div>
    <div class="textcd">супер ульра мега сигма альфа бета  набор чая </div>
    <div class="prcdbuy">
        <div class="pricecd">
            <div class="pecd">150грн</div>
            <div class="grcd"> 40гр </div>
        </div>
        <button class="brcd">далі</button>
    </div>
    </div>