<link rel="stylesheet" href="navbar.css">
<div class="header">
    <div class="upper-header" style="background-color: rgb(107, 107, 107); width: 100%; height: 40px; display: flex; justify-content: space-between; flex-direction: row;">
        <div id="town-inp" style="height: 20px; display: flex; flex-direction: row; margin: 10px; margin-bottom: 3px;"> 
           <img src="pngwing.com.png" style="height: 23px; fill: white;">
           <div style="font-size: 17px; font-family: 'Gill Sans', sans-serif;; color: inherit;">київ</div>
        </div>
        <div class="navig" >
            <a href="#" style="color: inherit; text-decoration: none;">news</a>
            <a href="#" style="color: inherit; text-decoration: none;">catalog</a>
        </div>
        <div style="font-size: 17px; font-family: 'Gill Sans', sans-serif;; color: inherit; display: flex;flex-direction: row; align-items: center; margin-right: 10px;"> 
            <div style="font-weight: bold; margin-right:5px ;"> UA </div> | RU
        </div>
    </div>

    <div class="bottom-header">
            <div class="logo"> logo</div>
            <div class="inp"> <input class="inpi" type="search" style="cursor: pointer; height: 35px; width: 500px; border: 0px;" placeholder="пошук" > <button style="border: 0px; cursor: pointer; position: absolute; z-index: -1; height: 35px; width: 40px; background-color: red; border-radius: 5%; " ></button> </div>
            <div style="font-size: 17px; display: flex;
            flex-direction: row;
            align-items: center;   
            justify-content: space-between; gap: 15px;"> <a style="height: 32px; width: 32px;"><img src="black_heart_outline_3512_negate.png" style="height: 32px; width: 32px;"></a> <div>|</div> <a style="height: 32px; width: 32px;"><img src="pngegg_negate.png" style="height: 32px; width: 32px;"></a> <div>|</div> <a style="height: 32px; width: 32px;"><img style="height: 32px; width: 32px;" src="shopping_cart_20392_negate.png"></a>
            </div>
    </div>

</div>
   <!-- 
  --> 