<link rel="stylesheet" href="/poject-eshcere/components/bottom/bot.css">
<div class="bott picbot">
        <div class="bott shad">
               
        </div>
         <div class="fbott">
                <div class="number-section">
                        <div class="number-part">
                                <div class="number-top-part"> 0685824673</div>
                                <div class="number-bot-part"> для замовленнь</div>
                                <div class="number-bot-part"> 9:00-21:00</div>
                        </div>
                        </div>
                </div>
        <div class="sbott">
                <div class="section-bot"> <img src="/poject-eshcere/components/bottom/f22003240451440c92772b47a5c2b9b0.svg" alt="tg"></div>
                
        </div>
</div>
        
    
