<link rel="stylesheet" href="/poject-eshcere/components/card/card.css">
<link rel="stylesheet" href="/poject-eshcere/components/cards-blank/style.css">
<link rel="stylesheet" href="/poject-eshcere/components/product.main/productMain.css">
<div class="bbox">
<div class="link-rail">
    <a href="#" class="l-r-tile"> категорії</a>
    <div class="l-r-tile tdn">/</div>
    <a href="#" class="l-r-tile"> сорт чая</a>
    <div class="l-r-tile tdn">/</div>
    <a href="#" class="l-r-tile">название чая</a>
</div>
<div class="cards-box">
<div class="card">
    <div class="piccd">
        <img src="" alt="" class="imgcd">
        <button id="lik" class="lik" onclick="document.getElementById('lok').classList.toggle('dbk')">♡ </button>
        <button id="lok" class="lok" onclick="document.getElementById('lok').classList.toggle('dbk')"> ❤️</button>
    </div>
    <div class="textcd">супер ульра мега сигма альфа бета  набор чая </div>
    <div class="prcdbuy">
        <div class="pricecd">
            <div class="pecd">150грн</div>
            <div class="grcd"> 40гр </div>
        </div>
        <button class="brcd"> <img class="immaaage" src="/poject-eshcere/components/navbar/shopping_cart_20392_negate.png" alt=""></button>
    </div>
 </div>




</div>
</div>